pip==26.1.2
nox==2024.10.9
nox-poetry==1.2.0
pandas==2.3.3
poetry==2.4.1
poetry-plugin-export==1.10.0
virtualenv==20.39.1
poetry-dynamic-versioning==1.10.0
tabulate==0.10.0
toml==0.10.2
pyinstaller==6.21.0
staticx==0.14.2
Annotated==0.0.2
pydantic==2.13.4
pydantic_extra_types==2.11.1
pygithub==2.9.1
actions-toolkit==0.1.15
pyyaml==6.0.3
GitPython==3.1.54
tabulate==0.10.0
